header{
  background-image: url(./imagenes/papel.jpg);
  background-size: 100%;
}
.contact {
    background-color: rgb(251, 246, 224);
    color: rgb(98, 97, 97);
    font-size: 15px;
    border-radius: 14px;
    padding: 20px;
    display: grid;
    gap: 25px;
  }
  
  .contact p,
  .contact h2,
  .contact ul {
    margin: 0;
    padding: 0;
  }
  
  .contact-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin: 25px;
    color: gray;
    font-family:'EB Garamond', serif;
  }
  
  .contact-details,
  .contact-form {
    display: grid;
    gap: 20px;
  }
  
  .contact-details-group,
  .contact-form-group {
    display: grid;
    gap: 3px;
    color: rgb(69, 68, 68);
  }
  
  .contact-label {
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .contact-form input,
  .contact-form textarea {
    border-radius: 7px;
    border: none;
    height: 30px;
    padding: 5px 10px;
  }
  
  .contact-form textarea {
    height: auto;
    resize: vertical;
  }
  
  .contact-form-submit {
    width: 100%;
    height: 50px;
  
    background-color: var(--text-color);
    border-radius: 7px;
    color: var(--text-color-inverse);
    border: 1px solid var(--theme-color);
  
    cursor: pointer;
  }
  
  .contact-form-submit:hover {
    box-shadow: 0 0 14px var(--secondary-color);
  }
  
  .social-list {
    list-style: none;
  
    display: flex;
    gap: 25px;
    justify-content: center;
  }
  
  .social-list img {
    height: 25px;
  }
  
  .social-list img:hover {
    filter: drop-shadow(0 0 5px var(--secondary-color));
  }
  
  @media (min-width: 950px) {
    .contact {
      font-size: 20px;
      padding: 70px;
  
      max-width: 980px;
      margin: 0 auto;
  
      box-sizing: border-box;
    }
  
    .contact-title {
      font-size: 35px;
      text-align: left;
    }
  
    .social-list {
      justify-content: flex-start;
    }
  
    .social-list img {
      height: 35px;
    }
  
    .contact-title {
      grid-area: title;
    }
  
    .contact-details {
      grid-area: details;
    }
  
    .contact-form {
      grid-area: form;
    }
  
    .social {
      grid-area: social;
    }
  
    .contact {
      display: grid;
      grid:
        "title   form" auto
        "details form" 1fr
        "social  form" auto /
        1fr      1fr;
      align-items: start;
    }
    
  }


  .experiences {
    display: flex;
    flex-direction: column;
  }
  
  .experiences-body {
    background-color: rgb(253, 249, 229);
    color: rgb(37, 37, 36)
  }
  
  .wave {
    width: 100%;
    position: relative;
    top: 2px;
  }
  
  .wave_bottom {
    transform: scaleY(-1);
    top: -2px;
  }
  
  .experiences-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin: 25px;
    color: gray;
    font-family:'EB Garamond', serif;
  }
  
  .experience-date {
    font-size: 18px;
    font-weight: bold;
    color: rgb(92, 90, 67)
  }
  
  .experience-company {
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 5px;
    color: rgb(164, 113, 71);
  }
  
  .experience-position {
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .experience-description {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .experience {
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  @media (min-width: 950px) {
    .experiences-title {
      font-size: 50px;
      margin: 35px 0;
      font-family:  'EB Garamond', serif;
    }
  
    .experience-date {
      font-size: 40px;
    }
   
    .experience-company {
      font-size: 25px;
    }
  
    .experience-position {
      font-weight: bold;
      font-size: 20px;
      margin-top: 20px;
    }
  
    .experience-description {
      font-size: 20px;
      margin-top: 10px;
      line-height: 1.3;
    }
  
    .experience {
      padding: 0;
    }
  
    .experience_left {
      text-align: right;
    }
  
    .experiences-grid {
      display: grid;
      grid-template-columns: auto 2px auto;
      gap: 20px 70px;
      padding: 70px;
      justify-content: center;
      max-width: 980px;
      margin: 0 auto;
    }
  
    .line {
      background-color: var(--text-color-inverse);
      position: relative;
    }
  
    .line::before,
    .line::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: var(--text-color-inverse);
      border-radius: 50%;
  
      position: absolute;
      top: -20px;
      left: -9px;
    }
  
    .line::after {
      top: 100%;
      z-index: 1;
    }
   
  }
  
.topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
  }
  
  /* Logo */
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  .logo img {
    border-radius: 50%;
  }
  
  /* Menu */
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 0 15px;
  }
  
  .menu a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
  }
  
  .menu a::after {
    content: "";
    background-color: var(--secundary-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .menu a.selected::after,
  .menu a:hover::after {
    opacity: 0.8;
  }
  
  .menu a:hover {
    color: var(--primary-color);
  }
  
  .open-menu,
  .close-menu {
    display: none;
  }
  
  .logotype {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    color: rgb(72, 72, 71);
    font-family:'EB Garamond', serif;
  }
  
  @media (max-width: 950px) {
    /* Menu */
    li{
      list-style-type: none;
      margin-right: 10%;
      margin-top: 8%;
    }
    iframe{
      width: 70%;
    }
    .menu {
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      align-items: center;
      background-color: rgb(252, 244, 231);
      height: 100%;
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
      font-family:'EB Garamond', serif;
    }
  
    .menu li {
      padding: 0;
      color: rgb(52, 52, 52)
    }
  
    .menu a {
      color: rgb(126, 125, 125);
      font-size: 23px;
    }
  
    .open-menu,
    .close-menu {
      display: block;
      border: none;
      background: none;
      cursor: pointer;
      width: 15%;
    }
  
    .close-menu {
     
      padding: 5px 15px;
      width: 130%;
      margin-left: 80%;
    }
  
    .menu_opened {
      opacity: 1;
      pointer-events: all;
    }
  
    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
      outline: none;
    }
  
    .menu a::after {
      content: none;
    }
  
    .menu a:hover,
    .menu a.selected {
      color: rgb(183, 125, 37);
    }
    .close-menu img{
      width: 10%;
    }
   }

   :root {
    --theme-color: white;
    --primary-color: #124f88;
    --secundary-color: #F7C331;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3A4460;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 70px;
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .horizontal-padding {
    padding-left: 25px;
    padding-right: 25px;
  }
  .vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  @media (min-width: 950px) {
    .horizontal-padding {
      padding-left: 70px;
      padding-right: 70px;
    }
    .vertical-padding {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    
  }

  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

.profile-info {
  margin-bottom: 25px;
}

.profile-img {
  width: 80%;
  max-width: 300px;
}

.profile-img-section {
  position: relative;
}

.profile-img-line {
  background-color: var(--secundary-color);
  height: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.profile {
  text-align: center;
}

.profile-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 17%;
  color: rgb(159, 159, 159);
  font-family: 'Roboto Condensed', sans-serif;
}

.profile-details {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 450px;
  margin: 20px auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.profile-btn {
 background-color: rgb(246, 208, 172);
  color: rgb(73, 72, 72);
  border: none;
  font-size: 20px;
  padding: 0.5em 1em;
  border-radius: 7px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  margin: 25px;
  color: gray;
  font-family:'EB Garamond', serif;
}

.profile-btn:hover {
  filter: brightness(130%);
}

@media (min-width: 950px) {
  .profile-info {
    margin-bottom: 0px;
  }
  
  .profile-img {
    width: 100%;
    max-width: 350px;
    transform: scaleX(-1);
  }
  
  .profile {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
  }
  
  .profile-title {
    font-size: 50px;
    color: rgb(159, 159, 159)
  }
  
  .profile-details {
    font-size: 25px;
    margin: 30px 0;
  }
  
  .profile-btn {
    font-size: 28px;
  }
}



.skills {
    max-width: 980px;
    margin: 0 auto;
  }
  
  .skills-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin: 25px;
    color: gray;
    font-family:'EB Garamond', serif;
  }
  
  .skills-skill {
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .whatsapp img{
    width: 20%;
    margin-left: 75%;
  }
  iframe{
    justify-content: center;
    margin-left: 20%;
  }
  .boton2{
    padding: 2px 10px;
    margin-top: -20px;
    font-size: 18px;
    font-weight: 1200;
    border: none;
    color: rgb(89, 89, 89);
    background-color: #feeeac;
    border-radius: 7px;
    box-shadow: 1px 1px 30px -5px rgb(255, 229, 32);
    cursor: pointer;
    margin-left: 34%;
    margin-left: 5%;

  }
  .cv{
    background-color: antiquewhite;
  }
 
  @media(min-width: 950px) {
    .skills-title {
      font-size: 50px;
    }
    
    .skills-skill {
      font-size: 30px;
      margin: 20px;
    }
    .boton2{
      padding: 2px 10px;
      margin-top: -20px;
      font-size: 18px;
      font-weight: 1200;
      border: none;
      color: rgb(89, 89, 89);
      background-color: #e9d791;
      border-radius: 7px;
      box-shadow: 1px 1px 30px -5px rgb(252, 248, 39);
     cursor: pointer;
     font-weight: bold
    }
    li{
      list-style-type: none;
    }
    
  }
 